.footer{
  width: 100vw;
  position: relative;
  color: $theme-grey;
}

.footer .heading-text{
  font-family: "BebasNeue";
  text-transform: uppercase;
  font-size: 4.2em;
  line-height: 1em;
  font-weight: 400;
}

.footer .left-column{
  float: left;
  background-color: $theme-yellow;
  width: 40%;
  height: 100%;
  padding-left: 400px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.footer form{
  padding-top: 50px;
}

.footer label{
  display: block;
  margin: 25px 0;
  color: $theme-grey;
}

.footer input[type="text"]:focus,
.footer input[type="email"]:focus{
  outline: 0;
}

.footer input[type="text"],
.footer input[type="email"]{
  font-family: "BebasNeue";
  color: $theme-grey;
  font-size: 1.1em;
  clear: both;
  border: 0;
  width: 90%;
  border-bottom: 3px solid $theme-grey;
  background-color: transparent;
  border-radius: 0;
}

.footer input[placeholder]{
  color: $theme-grey;
}

.footer input[type="submit"]{
  font-family: "BebasNeue";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $theme-grey;
  background-color: transparent;
  border: 3px solid $theme-grey;
  margin-top: 30px;
  padding: 8px 40px 5px 40px!important;
  transition: 0.3s ease-in-out;
}

.footer input[type="submit"]:hover{
  background-color: $theme-grey;
  color: #fff;
  border: 3px solid $theme-grey;
  transition: 0.3s ease-in-out;
}

.footer .right-column{
  float: left;
  width: 60%;
  height: 100%;
  padding-left: 120px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.footer .right-column .column-1{
  float: left;
}

.footer .right-column .column-2{
  float: left;
  padding-left: 50px;
}

.footer .right-column .subtitle{
  font-family: "BebasNeue";
  font-size: 1.7em;
  padding-top: 30px;
}

.footer .right-column .plain-text{
  font-family: "Roboto";
  font-size: 1em;
}

.footer .copyrights{
  background-color: $theme-grey;
  clear: both;
  display: block;
  padding: 5px;
  text-align: center;
}

.footer .inner-content-contacts .left-column{
  width: 50%;
}

.footer .inner-content-contacts .right-column{
  width: 50%;
}